/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define UPPER 1
#define LOWER 2
#define GAME 3
#define NUM_L 1 2 3 4 5
#define NUM_R 6 7 8 9 10
#define ALPHA_L 13 14 15 16 17 \
                25 26 27 28 29 \
                37 38 39 40 41 42
#define ALPHA_R 18 19 20 21 22 \
                30 31 32 33 34 \
             43 44 45 46 47 48
#define MACRO_L 0 12 24 36
#define MACRO_R 11 23 35 49
#define THUMBS 50 51 52 53 54

&mt {
    tapping-term-ms = <280>;
    quick-tap-ms = <170>;
    require-prior-idle-ms = <80>;
    flavor = "balanced";
    hold-trigger-on-release;
};

&caps_word { continue-list = <UNDERSCORE BACKSPACE DELETE COLON>; };

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        en_kor: en_kor {
            compatible = "zmk,behavior-mod-morph";
            label = "EN_KOR";
            bindings = <&kp SPACE>, <&kp LANGUAGE_1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        english {
            // ------------------------------------------------------------------------------------------------------------
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "0";
            bindings = <
&kp TAB     &kp Q       &kp W       &kp E        &kp R         &kp T                                      &kp Y      &kp U        &kp I        &kp O       &kp P          &kp MINUS
&caps_word  &mt LGUI A  &mt LALT S  &mt LCTRL D  &mt LSHIFT F  &kp G                                      &kp H      &mt RSHFT J  &mt RCTRL K  &mt RALT L  &mt RGUI SEMI  &kp EQUAL
&kp LCTRL   &kp Z       &kp X       &kp C        &kp V         &kp B                                      &kp N      &kp M        &kp COMMA    &kp DOT     &kp FSLH       &kp BSLH
                                                 &kp ESCAPE    &lt 1 SPACE  &lt 5 TAB    &lt 3 BACKSPACE  &lt 2 RET  &lt 4 DEL
            >;
        };

        nav {
            bindings = <
&trans  &kp LG(Q)       &kp LG(W)       &kp LG(E)        &kp LG(R)        &kp LG(T)                           &trans   &kp LG(U)  &kp UP          &kp LG(O)      &trans   &trans
&trans  &mt LGUI LG(A)  &mt LALT LG(S)  &mt LCTRL LG(D)  &mt LSHFT LG(F)  &kp LG(G)                           &trans   &kp LEFT   &kp DOWN_ARROW  &kp RIGHT      &trans   &trans
&trans  &kp LG(Z)       &kp LG(X)       &kp LG(C)        &kp LG(V)        &kp LG(B)                           &trans   &kp HOME   &kp PAGE_UP     &kp PAGE_DOWN  &kp END  &trans
                                                         &trans           &trans     &trans    &kp BACKSPACE  &kp RET  &kp DEL
            >;

            label = "NAV";
        };

        num {
            bindings = <
&trans  &kp ASTRK  &kp N9  &kp N8  &kp N7  &kp PLUS                     &trans          &trans     &trans     &trans      &trans    &trans
&trans  &kp SLASH  &kp N6  &kp N5  &kp N4  &kp MINUS                    &kp LANGUAGE_1  &kp RSHFT  &kp LCTRL  &kp RALT    &kp LGUI  &trans
&trans  &none      &kp N3  &kp N2  &kp N1  &kp DOT                      &trans          &trans     &kp COMMA  &kp PERIOD  &trans    &trans
                                   &trans  &kp N0     &trans    &trans  &trans          &trans
            >;

            label = "NUM";
        };

        sym {
            bindings = <
&trans  &kp GRAVE      &kp LESS_THAN  &kp MINUS  &kp GREATER_THAN  &kp SQT                           &kp AMPS   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp HASH  &kp PERCENT   &trans
&trans  &kp EXCL       &kp PLUS       &kp EQUAL  &kp ASTERISK      &kp DQT                           &kp PIPE   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp P     &kp QUESTION  &trans
&trans  &kp BACKSLASH  &kp CARET      &kp SLASH  &kp LS(P)         &kp DOLLAR                        &kp TILDE  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp AT    &trans        &trans
                                                 &trans            &kp UNDERSCORE  &trans    &trans  &trans     &trans
            >;

            label = "SYM";
        };

        fun {
            bindings = <
&trans  &kp F12  &kp F9  &kp F8  &kp F7  &none                         &trans  &trans     &trans     &trans    &trans    &trans
&trans  &kp F11  &kp F6  &kp F5  &kp F4  &none                         &trans  &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &trans
&trans  &kp F10  &kp F3  &kp F2  &kp F1  &none                         &trans  &trans     &trans     &trans    &trans    &trans
                                 &trans  &kp SPACE  &kp TAB    &trans  &trans  &trans
            >;

            label = "FN";
        };

        mouse {
            bindings = <
&trans  &trans        &trans        &trans     &trans     &trans                       &trans     &trans          &mmv MOVE_UP    &trans           &trans           &trans
&trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL  &kp LSHFT  &trans                       &trans     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &trans           &trans
&trans  &trans        &trans        &trans     &trans     &trans                       &trans     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP     &msc SCRL_RIGHT  &trans
                                               &trans     &trans  &trans    &mkp RCLK  &mkp LCLK  &mkp MCLK
            >;

            label = "Mouse";
        };
    };
};
